@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

input,
textarea {
  outline: none;
}

/* clip path */
.i-bg {
  clip-path: polygon(100% 0%, 100% 56%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  background: #59b256;
  width: 100%;
  height: 100%;
}

/* swiper */
.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* laptop screen */
.laptopScreen {
  width: 451px;
  height: 283px;
  position: absolute;
  top: 18px;
  left: 68px;
  overflow: scroll;
}

.laptopScreen::-webkit-scrollbar {
  display: none;
}

/* phone screen */
.phoneScreen {
  width: 264px;
  height: 567px;
  position: absolute;
  top: 17px;
  left: 18px;
  border-radius: 28px;
  overflow: scroll;
}

.phoneScreen::-webkit-scrollbar {
  display: none;
}

/* projectButton hover effect */
.projectButton {
  padding: 10px 20px;
  border: 2px solid #555;
  color: #555;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.projectButton::after {
  content: "View Demo";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  transition: 1s all;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #555;
  color: white;
}

.projectButton:hover.projectButton::after {
  transform: translateX(100%);
}

/* Dark mode styles */
.dark .projectButton {
  border: 2px solid orange;
  color: white;
}

.dark .projectButton::after {
  background-color: orange;
  color: #fff;
}

/* githubButton hover effect */
.githubButton {
  padding: 10px 20px;
  border: 2px solid #555;
  color: #555;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.githubButton::after {
  content: "Source Code";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  transition: 1s all;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #555;
  color: white;
}

.githubButton:hover.githubButton::after {
  transform: translateX(100%);
}

/* Dark mode styles */
.dark .githubButton {
  border: 2px solid orange;
  color: white;
}

.dark .githubButton::after {
  background-color: orange;
  color: #fff;
}

.active {
  color: blue;
}

.dark .active {
  color: green;
}
